* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.select {
  height: 2em;
  width: 13em;
  font-size: 1.3em;
  border: none;
  border-radius: 10px;
  padding-left: 1em;
  transition: all ease-in-out 0.3s;
}

.select:hover {
  background-color: black;
}

.option {
  height: 2em;
  text-align: left;
  font-size: 0.5em;
  border-radius: 10px;
}

.inputValor {
  height: 2em;
  font-size: 1.3em;
  border: none;
  border-radius: 10px;
  padding-left: 1em;
}

.buttonConvertir {
  transition: all ease-in-out 0.3s;
  margin: 1em;
}

.buttonConvertir:hover {
  background-color: black;
}